body{background-color:navy;color:white;font-family:Calibri, Tahoma, sans-serif;font-size:10pt;
padding:4px;margin:2px}
div{padding:4px;border:1px solid #eeeeee;border-radius:8px}
hr{border:1pt solid #eeeeee;}
